body {
	background-color: #141d26;
}
h1 {
	color: #b8b4c6;
	font-family: cursive;
	font-size: 50px;
}
.upload-btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: 140px;
}

.btn {
  border: 3px solid gray;
  font-family: cursive;
  color: gray;
  background-color: #b8b4c6;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.conf-btn {	
	font-family: cursive;
	border: 3px solid gray;
    color: gray;
    background-color: #b8b4c6;
    padding: 8px 20px;
    border-radius: 8px;
	font-size: 12px;
}
div.settings {
	margin-top: -150px;
}
div.notfiy {
	color: #b8b4c6;
}
a {
	color: #b8b4c6;
	text-decoration: none;
}
h3 {
	color: #b8b4c6;
	font-family: cursive;
	font-size: 35px;
}
h2 {
	font-size: 20px;
	font-family: cursive;
}